Repository rbebb/LANWeather, pull requests merged in 2020-03, with the labels that each got.

#35 Added Icon Pack, Credit to Author of Icons, and Fixed Scrolling
  androidapp/app/src/main/res/drawable/ic_cloudy_day.png
  androidapp/app/src/main/res/drawable/ic_cloudy_day_1.png
  androidapp/app/src/main/res/drawable/ic_cloudy_night.png
  androidapp/app/src/main/res/drawable/ic_cloudy_night_1.png
  androidapp/app/src/main/res/drawable/ic_cloudy_night_2.png
  androidapp/app/src/main/res/drawable/ic_comet.png
  androidapp/app/src/main/res/drawable/ic_eclipse.png
  androidapp/app/src/main/res/drawable/ic_foggy_day.png
  androidapp/app/src/main/res/drawable/ic_foggy_night.png
  androidapp/app/src/main/res/drawable/ic_foggy_night_1.png
  androidapp/app/src/main/res/drawable/ic_foggy_night_2.png
  androidapp/app/src/main/res/drawable/ic_foggy_night_3.png
  androidapp/app/src/main/res/drawable/ic_night.png
  androidapp/app/src/main/res/drawable/ic_night_1.png
  androidapp/app/src/main/res/drawable/ic_night_2.png
  androidapp/app/src/main/res/drawable/ic_night_3.png
  androidapp/app/src/main/res/drawable/ic_night_4.png
  androidapp/app/src/main/res/drawable/ic_night_5.png
  androidapp/app/src/main/res/drawable/ic_rain.png
  androidapp/app/src/main/res/drawable/ic_rain_1.png
  androidapp/app/src/main/res/drawable/ic_rain_2.png
  androidapp/app/src/main/res/drawable/ic_rain_3.png
  androidapp/app/src/main/res/drawable/ic_rainbow.png
  androidapp/app/src/main/res/drawable/ic_rainy_day.png
  androidapp/app/src/main/res/drawable/ic_snowflake.png
  androidapp/app/src/main/res/drawable/ic_snowing.png
  androidapp/app/src/main/res/drawable/ic_snowing_1.png
  androidapp/app/src/main/res/drawable/ic_snowing_2.png
  androidapp/app/src/main/res/drawable/ic_snowing_3.png
  androidapp/app/src/main/res/drawable/ic_storm.png
  androidapp/app/src/main/res/drawable/ic_storm_1.png
  androidapp/app/src/main/res/drawable/ic_storm_2.png
  androidapp/app/src/main/res/drawable/ic_sun.png
  androidapp/app/src/main/res/drawable/ic_sun_umbrella.png
  androidapp/app/src/main/res/drawable/ic_sunrise.png
  androidapp/app/src/main/res/drawable/ic_sunset.png
  androidapp/app/src/main/res/drawable/ic_thermometer.png
  androidapp/app/src/main/res/drawable/ic_thermometer_1.png
  androidapp/app/src/main/res/drawable/ic_thermometer_2.png
  androidapp/app/src/main/res/drawable/ic_thermometer_3.png
  androidapp/app/src/main/res/drawable/ic_thermometer_4.png
  androidapp/app/src/main/res/drawable/ic_wind.png
  androidapp/app/src/main/res/drawable/ic_wind_1.png
  androidapp/app/src/main/res/drawable/ic_wind_2.png
  androidapp/app/src/main/res/layout/card_day_overview.xml
  androidapp/app/src/main/res/layout/card_hourly_short.xml
  androidapp/app/src/main/res/layout/card_seven_day_forecast.xml
  androidapp/app/src/main/res/layout/forecast_fragment.xml
  androidapp/app/src/main/res/layout/home_fragment.xml
Labels: App, Core

#38 Added JeroMQ (Java Version of ZeroMQ)
  androidapp/app/build.gradle
Labels: App, Core

#32 Added baseline database to app
  androidapp/app/build.gradle
  androidapp/app/src/main/assets/weather.json
  androidapp/app/src/main/java/com/example/lanweather/data/AppDatabase.kt
  androidapp/app/src/main/java/com/example/lanweather/data/CurrentWeather.kt
  androidapp/app/src/main/java/com/example/lanweather/data/CurrentWeatherDao.kt
  androidapp/app/src/main/java/com/example/lanweather/data/DailyForecast.kt
  androidapp/app/src/main/java/com/example/lanweather/data/DailyForecastDao.kt
  androidapp/app/src/main/java/com/example/lanweather/data/DatabaseWorker.kt
  androidapp/app/src/main/java/com/example/lanweather/data/HourlyForecast.kt
  androidapp/app/src/main/java/com/example/lanweather/data/HourlyForecastDao.kt
Labels: App

#48 Fix DatabaseWorker and Update Gradle File
  androidapp/app/build.gradle
  androidapp/app/src/main/java/com/example/lanweather/data/DailyForecast.kt
  androidapp/app/src/main/java/com/example/lanweather/data/DatabaseWorker.kt
  androidapp/app/src/main/java/com/example/lanweather/data/HourlyForecast.kt
Labels: Bug
